* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, rgba(234,234,234,1) 0%, rgba(185, 242, 247, 0.88) 0%, rgb(255, 239, 168) 97%);
}
.news-items {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

h1 {
  font-size: 78px;
  color: rgb(15, 15, 15);
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.news-item {
  background: rgb(191, 191, 240);
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-title {
  font-size: 20px;
  line-height:30px;
  text-align: center;
}
.news-item:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.news-link a {
  text-decoration: none;
  font-size: 25px;
  color: red;
  margin: 10px;
}
.news-link a:hover {
  color: seagreen;
}

.news-img {
  /*border:5px white solid;*/
  margin: 5px;
}

.news-img img {
  width: 100%;
  border-radius: 20px;
}
