* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, rgba(234,234,234,1) 0%, rgba(185, 242, 247, 0.88) 0%, rgb(255, 239, 168) 97%);
}
.news-items {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

h1 {
  font-size: 78px;
  color: rgb(15, 15, 15);
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.news-item {
  background: rgb(191, 191, 240);
  box-shadow: 2px 5px 2px 2px  hotpink;
  margin: 27px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-title {
  font-size: 28px;
  line-height:30px;
  text-align: center;
}
.news-item:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.news-link a {
  text-decoration: none;
  font-size: 25px;
  color: red;
  margin: 10px;
}
.news-link a:hover {
  color: rgb(103, 238, 41);
  text-decoration: underline;
}

.news-img {
  /*border:5px white solid;*/
  margin: 5px;
}

.news-img img {
  width: 100%;
  border-radius: 20px;
}
.show-butn,.hide-butn{
  font-size: 30px;
  color: white;
  line-height: 70px;
  display: none;
}
.show-butn {
  float: right;
}

#but {
  position: absolute;
  visibility: hidden;
  z-index: -10;
}
#mynav {
  height: 15vh;
  display: flex;
  position: sticky;
  top: 0;
  background-color: skyblue;
  opacity: 0.9;
  margin-bottom: 3px;
}
.menu {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  margin: 15px;
  line-height: 10vh;
  right: 0;
  font-family: "Lobster Two", cursive;
}
.heading-transparent .menu {
  position: absolute;
  padding: 10px;
  font-size: 25px;
  margin: 15px;
  line-height: 10vh;
  right: 0;
  font-family: "Lobster Two", cursive;
}

.logo {
  margin-left: 20px;
  margin-top: 7px;
}

.logo img {
  width: 70px;
}

.logo img:hover {
  width: 80px;
  transition: 1s;
}

.menu li {
  display: inline;
}

.menu li a {
  margin: 5px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-size: 30px;
}

.menu li a:hover {
  color: rgb(206, 53, 86);
  transition: 0.5s;
}
.hide-butn{
  opacity:0;
}
#but:checked~.show-butn{
  opacity: 0;
}
#but:checked~.hide-butn{
  opacity: 1;
}

footer{
  width: 100%;
  background-color: rgba(70, 68, 68, 0.8);
  border-radius: 5px;
}
.sec-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 13px;
  padding: 17px 15px;
}

.abput{
  width: 40%;
}
.sec-1 h2{
  font-size: 30px;
  font-family: "Zilla Slab" , serif ;
  color: white;
}
.about p {
  color: rgb(165, 188, 252);
  text-align: justify;
  line-height: 24px;
  margin-top: 9px;
}
.sec-1 li {
  list-style: none;
  margin-top: 10px;
}
.sec-1 li a{
  text-decoration: none;
  font-size: 20px;
  color:rgb(165, 188, 252) ;
}
.sec-1 li a:hover{
  color: white;
  text-decoration: underline;
}
.contact li{
  font-size: 20px;
  color: rgb(165, 188, 252);
}
footer i{
  font-size: 24px;
  padding: 6px;
}
.sec-2{
  display:flex;
  justify-content: center;
  padding: 30px;
}
.sec-2 h2{
  margin-right: 40px;
  font-size: 27px;
  padding: 0;
  color: rgb(66,0,0);
}
.sec-2 li{
  list-style: none;
}
.sec-2 li a{
  display: inline-block;
  padding: 10px 15px ;
  color: white;
  background-color: rgb(74, 115, 226);
  border-radius: 25px;
  font-size: 18px;
}





@media(max-width:838px){
  #mynav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .show-butn,
  .hide-butn {
    display: block;
    padding-right: 20px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -250%;
    width: 100%;
    height: 100vh;
    background-color:skyblue;
    text-align: center;
    color:black;
    line-height: normal;
    transition: 1s;
    margin: 0;
    padding-top: 60px;
    opacity: 1;
  }

  .menu li {
    display: block;
    padding: 20px;
    border-bottom: 1px white solid;
  }

  .menu li a {
    display: block;
  }
  .hide-butn {
    position: absolute;
    right: 5px;
    font-size: 40px;
    top: 15
    px;
    z-index: 1;
  }

  #but:checked ~ .menu {
    right: 0%;
  }
}
