*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 249, 246);
}
.news-items{
    padding:10px;
}
.news-items h1{
    font-size:78px;
    color:rgb(15, 15, 15);
    text-align: center;
    margin: 10px;
    padding:10px;
}

.news-item{
    background:rgb(191, 191, 240);
    margin:30px;
    padding:10px;
    border-radius: 20px;
    box-shadow: 2px 5px 2px 2px  hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.news-title{
    font-size: 35px;
    text-align: left;

}
.news-title:hover{
    background-color: rgb(0, 0, 0,0.5);
    color: white ;
    transition: 0.5s;
}
.news-link{
    
}

.news-img{
    border:5px white solid;
    margin:10px;
    border-radius: 20px;
}

.news-img img{
    width:100%;
    border-radius: 20px;
    
}