*{
    margin: 0;
    padding: 0;
}
.show-butn,.hide-butn{
  font-size: 30px;
  color: white;
  line-height: 70px;
  display: none;
}
.show-butn {
  float: right;
}

#but {
  position: absolute;
  visibility: hidden;
  z-index: -10;
}
#efh{
  margin: 2%;
  width: 96%;
  margin-top: 3px;
}
#mynav {
  border-radius: 25px;
  height: 15vh;
  display: flex;
  position: sticky;
  top: 0;
  background-color: skyblue;
  opacity: 0.9;
  margin-bottom: 3px;
}
.menu {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  margin: 15px;
  line-height: 10vh;
  right: 0;
  font-family: "Lobster Two", cursive;
}
.heading-transparent .menu {
  position: absolute;
  padding: 10px;
  font-size: 25px;
  margin: 15px;
  line-height: 10vh;
  right: 0;
  font-family: "Lobster Two", cursive;
}

.logo {
  margin-left: 20px;
  margin-top: 20px;
}

.logo img {
  width: 70px;
}

.logo img:hover {
  width: 80px;
  transition: 1s;
}

.menu li {
  display: inline;
}

.menu li a {
  margin: 5px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-size: 30px;
}

.menu li a:hover {
  color: rgb(206, 53, 86);
  transition: 0.5s;
}
#box1{
    width: 100%;
    height: 80vh;
    border-radius: 25px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 4px 4px 4px blue;
    margin-bottom: 6px;
}
#box11,#box12{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
#box11 img{
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 20%;
}
#box12{
    height:auto;
    color: white;
    display: block;
    justify-content: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#box12 h1{
    padding: 10px;
    font-size: 50px;
}
#box12 h3{
    padding: 10px;
    font-size: 20px;
}
#box12 ul{
    padding: 10px;
    padding-left: 50px;
}
#box2,#box3{
    width: 100%;
    height: auto;
    background-color:black;
    color: red;
    box-shadow: 4px 4px 4px blue;
    margin-bottom: 7px;
    border-radius: 25px;
}
#box2 h1{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;    
}
#box2 h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    padding-left: 40px;
}
#box22{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}
#box22 img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px teal;
}
#box3{
    background-color:black;
    color: green;
}
#box3 h1{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;  
    color: orangered;  
}
#box32{
    width: 100%;
    height: auto;
    padding-top: 20px;
}
#box321{
    height: auto;
    padding-bottom: 20px;
    width: 30%;
}
#box31 h3{
    text-align: center;
}
#box32 h3{
  color: white;
}
#pre img{
  border-radius: 20px;
}
#box332{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#box332 h3{
    text-align: center;
    padding: 10px;
}
#pre{
    display: flex;
    justify-content:center;
    align-items: center;
}
#box321 img{
  box-shadow: 3px 3px 3px teal;
    width: 200px;
    height: 200px;
}
#box31 h3{
    padding: 10px;
    padding-top: 20px;
    font-size: 30px;
}
#box31 ul{
    font-size: 20px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 60px;
}
#box4{
    width: 100%;
    background-color: darkslategray;
}
#box4 h4{
    color: white;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
#box54321{
  background-color: black;
  width: 100%;
  border-radius: 25px;
  height: auto;
  margin-bottom: 7px;
  box-shadow: 4px 4px 4px blue;
  padding-bottom: 10px;
}
#box5{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;
}
#imga{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#imga img{
border-radius: 20px;
box-shadow: 3px 3px 3px teal;
  width: 80%;
  height: auto;
}
#box6{
    width:100%;
    height: auto;
    margin-bottom: 20px;
}
#box61{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

footer{
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  background:#41444b;
  padding-top:10px;
}
.sec-1{
  display:flex;
  justify-content: space-between;
}
.sec-1 h2{
  color:black;
  font:20px;
  margin-bottom: 10px;
}
.sec-1 p{
  color:darkgray;
}
.sec-1 .about{
  width:40%;
  padding:10px;
}
.sec-1 .link{
  padding:10px;
}
.sec-1 .about p{
  line-height:25px ;
}
.link ul{
  list-style: none;
}
.link ul li a{
  color:darkgray;
  text-decoration:none;
  font-size: 18px;
  margin:15px;
}
.link ul li a:hover{
  color:white;
}
.link ul li a:hover span{
  color:white;
}
i{
  color:rgb(168, 164, 164);
  padding-right: 8px;
}
.sec-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  padding:30px;
}
.sec-2 p{
  font-size:30px;
  color:rgb(168, 164, 164);
  margin:10px;
}
.sec-2 a{
  background:red;
  color:white;
  font-size:25px;
  text-decoration:none;
  padding:10px;
  border-radius:15px ;
}
.sec-2 a:hover{
  background:orangered;
  color: black;
}
.sec-3{
  margin:10px;
  padding:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3 ul {
  list-style:none;
}
.sec-3 ul li{
  display: inline;
}
.sec-3 ul li a{
  font-size:50px;
  margin:15px;
}
.sec-3 ul li:nth-child(1) i{
 color:black;
}
.sec-3 ul li:nth-child(2) i{
  color:blue;
}
.sec-3 ul li:nth-child(3) i{
  color:red;
}
.sec-3 ul li:nth-child(4) i{
  color:orange;
}
.sec-3 ul li:nth-child(5) i{
  color:green;
}
.sec-3 ul li:nth-child(1):hover i{
 color:#d2f6c5;
 transition:.4s;
}
.sec-3 ul li:nth-child(2):hover i{
  color:#d2f6c5;
  transition:.4s;
}
.sec-3 ul li:nth-child(3):hover i{
  color:#d2f6c5;
  transition:.4s;
}
.sec-3 ul li:nth-child(4):hover i{
  color:#d2f6c5;
  transition:.4s;
}
.sec-3 ul li:nth-child(5):hover i{
  color:#d2f6c5;
  transition: .4s;
}
.footer-content{
  display: flex;
  justify-content: center;
  padding:20px;
  
}
.footer-content p{
  border-radius: 25px;
  text-align:center;
  color:black;
  font-size:20px;
  margin:10px;
  position:relative;
}
.footer-content p::before{
  content: '';
  width:0;
  height:2px;
  display:block;
  position:absolute;
  left:0;
  background: white;
  top:-10px;
  transition : all .3s;
}

.footer-content p::after{
 content: '';
 width:0;
 height:2px;
 display:block;
 position:absolute;
 right:0;
 background: white;
 bottom:-10px;
 transition : all .3s;
}
.footer-content p:hover::after,
.footer-content p:hover::before{
  width:100%;
}
hr{
  opacity:.2;
}
#box221{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;     
}
.hide-butn{
  opacity:0;
}
#but:checked~.show-butn{
  opacity: 0;
}
#but:checked~.hide-butn{
  opacity: 1;
}
@media (max-width:998px){
  .sec-1{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .sec-1 .about{
      width:100%;
      padding:20px;
  }
  .sec-1 .about p{
      line-height:25px ;
      font-size: 18px;
  }    
}

@media (max-width:610px){
  .sec-1{
      display:flex;
      justify-content: space-between;
  }
  .sec-1 .about{
      width:100%;
      padding:20px;
  }
  .sec-1 .about p{
      line-height:25px ;
  }
  .link{
      margin: 10px;
  }
}
@media(max-width: 546px){
  .sec-1{
      display:flex;
      justify-content: space-between;
  }
  .sec-1 .about{
      width:100%;
      padding:20px;
  }
  .sec-1 .about p{
      line-height:25px ;
  }
  .link{
      margin: 10px;
  }
  .sec-2 p{
      font-size: 20px;
  }
  .sec-2 a{
      font-size: 20px;
  }
  .sec-3 ul li a{
  font-size:34px;
  margin:5px;
}
.footer-content p{
  font-size:18px;
}
}
@media(max-width:670px){
    #box221{
      display: block;
      width: 100%;
    }
    .sp{
      margin: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: auto; 
    }
    #box1{
      display: block;
      height: auto;
    }
    #box11{
      width: 100%;
    }
    #box12{
      padding-left: 20px;
      padding: 20px;
      width: 100%;
      padding-bottom: 20px;
    }
}
@media(max-width:450px){
  .sp{
    margin: 20px;
    display:block;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto; 
  }
  .sp div{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
  }
}
@media(max-width:734px){
  footer .sec-2{
    display: block;
  }
  footer .sec-2 p{
    text-align: center;
  }
  footer .sec-2 div{
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width:838px){
  #mynav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .show-butn,
  .hide-butn {
    display: block;
    padding-right: 20px;
  }
  #but:checked~.show-butn{
    opacity: 1;
  }
  #but:checked~.hide-butn{
    opacity: 0;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -250%;
    width: 97%;
    height: 100vh;
    background-color:skyblue;
    text-align: center;
    color:black;
    line-height: normal;
    transition: 1s;
    padding: 80px 0;
    opacity: 1;
    border-radius: 25px;
  }

  .menu li {
    display: block;
    padding: 20px;
    border-bottom: 1px white solid;
  }

  .menu li a {
    display: block;
  }

  .hide-butn {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  #but:checked ~ .menu {
    right: 0%;
  }
}
@media(max-width:850px){
  #box332{
    display: block;
  }
  #box321{
    width: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #text321{
    width: 50%;
    text-align: center;
  }
}
@media(max-width:558px){
  #box332{
    display: block;
  }
  #box321{
    width: 100%;
    display: block;
    justify-content: space-evenly;
    align-items: center;
  }
  #text321{
    width: 90%;
    text-align: center;
  }
}
@media(max-width:650px){
  #box5{
      display: block;
      margin-bottom: 0;
  }
  #box6,#box61{
      display: block;
  }
  #imga{
      width: 100%;
      height: auto;
      display: flex;
      justify-content:center;
      align-items: center; 
      margin-bottom: 10px;
  }
  #imga img{
      width:80%;
      height: auto;
  }
}