* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: "Architects Daughter", cursive;
  font-family: "Zilla Slab", serif;
}

h1 {
  font-family: "Lobster Two", cursive;
  font-family: "Rufina", serif;
}

.heading {
  height: 15vh;
  display: flex;
  position: sticky;
  top: 0;
  background-color: rgb(165, 188, 252);
  border-radius: 5px;
}

.show-butn,.hide-butn{
  font-size: 30px;
  color: white;
  line-height: 70px;
  display: none;
}
.show-butn {
  float: right;
}

#but {
  position: absolute;
  visibility: hidden;
  z-index: -10;
}
#mynav {
  height: 100px;
  display: flex;
  position: sticky;
  top: 0;
  background-color: skyblue;
  opacity: 0.9;
  margin-bottom: 3px;
  border-radius:15px;
}
.menu {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  margin: 15px;
  line-height:50px;
  right: 0;
  font-family: "Lobster Two", cursive;
}
.heading-transparent .menu {
  position: absolute;
  padding: 10px;
  font-size: 25px;
  margin: 15px;
  line-height: 10vh;
  right: 0;
  font-family: "Lobster Two", cursive;
}

.logo {
  margin-left: 20px;
  margin-top: 10px;
}

.logo img {
  width: 70px;
}

.logo img:hover {
  width: 80px;
  transition: 1s;
}

.menu li {
  display: inline;
}

.menu li a {
  margin: 5px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-size: 30px;
}

.menu li a:hover {
  color: rgb(206, 53, 86);
  transition: 0.5s;
}
.hide-butn{
  opacity:0;
}
#but:checked~.show-butn{
  opacity: 0;
}
#but:checked~.hide-butn{
  opacity: 1;
}

.banner {
  padding: 10px;
  margin-top: 20px;
  margin: 15px;
  box-shadow: 2px 2px 2px 2px grey;
}

.banner video {
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

.main-content {
  padding: 10px;
  margin-top: 30px;
  border-bottom: 1px solid rgb(228, 215, 215);
  padding-bottom: 20px;
  /* border: 2px solid black; */
}

.main-content h1 {
  margin-top: 30px;
  text-shadow: 2px 2px #a19999;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.main-content__content {
  padding: 10px;
  width: 100%;
  text-align: justify;
  /* border: 1px solid black; */

}

.content {
  margin: 20px;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
  /* border: 1px solid black; */
}

.content-video {
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-video video{
  width:100%;
  height: 50vh;
}

.about-covid {
  margin-top: 30px;
  padding: 10px;
  border-bottom: 1px solid rgb(228, 215, 215);
}

.about-covid h1 {
  margin-top: 30px;
  text-shadow: 2px 2px #a19999;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about-video {
  margin: 20px;
}

.about-video video {
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.about-content {
  margin: 20px;
  width: 100%;
  font-size: 20px;
  padding: 50px;
  text-align: justify;
}

.interactive-chart {
  margin: 40px auto;
  width: 90%;
  border: 2px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.chart {
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 20px;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  width: 100%;
  margin-top: 10px;
  background-color: rgba(70, 68, 68, 0.8);
  border-radius: 5px;
}
.sec-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 15px;
}
.about {
  width: 40%;
}
.sec-1 h2 {
  font-size: 30px;
  font-family: "Zilla Slab", serif;
  color: white;
}
.about p {
  text-align: justify;
  color: rgb(165, 188, 252);
  line-height: 24px;
  margin-top: 10px;
}
.sec-1 ul {
  list-style: none;
}
.sec-1 ul li {
  list-style: none;
  margin-top: 10px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: rgb(165, 188, 252);
}
a:hover {
  color: rgb(255, 255, 255);
}
i {
  color: rgb(74, 115, 226);
}
i:hover {
  color: white;
  cursor: pointer;
}
.link3 ul li {
  color: rgb(165, 188, 252);
  margin-top: 10px;
}
.link3 i{
  padding: 6px;
}
.sec-2 {
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
}
.sec-2 h2 {
  color: rgb(66, 0, 0);
  font-size: 27px;
  padding: 0;
  margin-right: 40px;
}
.sec-2 a {
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: rgb(74, 115, 226);
  border-radius: 25px;
  font-size: 18px;
}
.sec-2 a:hover {
  background-color: rgb(223, 24, 24);
}
.sec-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.sec-3 ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-3 ul li {
  list-style: none;
}

.sec-3 ul li i {
  list-style: none;
  margin: 20px;
  font-size: 50px;
}
.sec-4 {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: black;
  color: blanchedalmond;
}
hr {
  opacity: 0.2;
}

@media (max-width:970px){
  footer {
    width: 100%;
    margin-top: 10px;
    background-color: rgba(70, 68, 68, 0.8);
    border-radius: 5px;
  }
  .sec-1 {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15px;
  }
  .about {
    width: 100%;
  }
  .link1{
    margin-top: 20px;
  }
  .link2{
    margin-top: 20px;
  }
  .link3{
    margin-top: 20px;
  }
  .sec-1 h2 {
    font-size: 30px;
    font-family: "Zilla Slab", serif;
    color: white;
  }
  .about p {
    text-align: justify;
    color: rgb(165, 188, 252);
    line-height: 24px;
    margin-top: 10px;
  }
  .sec-1 ul {
    list-style: none;
  }
  .sec-1 ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: rgb(165, 188, 252);
  }
  a:hover {
    color: rgb(255, 255, 255);
  }
  i {
    color: rgb(74, 115, 226);
  }
  i:hover {
    color: white;
    cursor: pointer;
  }
  .link3 ul li {
    color: rgb(165, 188, 252);
    margin-top: 10px;
  }
  .sec-2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
  }
  .sec-2 h2 {
    color: rgb(66, 0, 0);
    font-size: 27px;
    padding: 0;
    margin-right: 40px;
  }
  .sec-2 a {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: rgb(74, 115, 226);
    border-radius: 25px;
    font-size: 18px;
  }
  .sec-2 a:hover {
    background-color: rgb(223, 24, 24);
  }
  .sec-3 {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .sec-3 ul li {
    list-style: none;
  }
  
  .sec-3 ul li i {
    list-style: none;
    margin: 20px;
    font-size: 50px;
  }
  .sec-4 {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: black;
    color: blanchedalmond;
  }
  hr {
    opacity: 0.2;
  }  
}
@media (max-width:605px){
  footer {
    width: 100%;
    margin-top: 10px;
    background-color: rgba(70, 68, 68, 0.8);
    border-radius: 5px;
  }
  .sec-1 {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15px;
  }
  .about {
    width: 100%;
  }
  .link1{
    margin-top: 20px;
  }
  .link2{
    margin-top: 20px;
  }
  .link3{
    margin-top: 20px;
  }
  .sec-1 h2 {
    font-size: 30px;
    font-family: "Zilla Slab", serif;
    color: white;
  }
  .about p {
    text-align: justify;
    color: rgb(165, 188, 252);
    line-height: 24px;
    margin-top: 10px;
  }
  .sec-1 ul {
    list-style: none;
  }
  .sec-1 ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: rgb(165, 188, 252);
  }
  a:hover {
    color: rgb(255, 255, 255);
  }
  i {
    color: rgb(74, 115, 226);
  }
  i:hover {
    color: white;
    cursor: pointer;
  }
  .link3 ul li {
    color: rgb(165, 188, 252);
    margin-top: 10px;
  }
  .sec-2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
  }
  .sec-2 h2 {
    color: rgb(66, 0, 0);
    font-size: 27px;
    padding: 0;
    margin-right: 40px;
  }
  .sec-2 a {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: rgb(74, 115, 226);
    border-radius: 25px;
    font-size: 18px;
  }
  .sec-2 a:hover {
    background-color: rgb(223, 24, 24);
  }
  .sec-3 {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .sec-3 ul li {
    list-style: none;
  }
  
  .sec-3 ul li i {
    list-style: none;
    margin: 20px;
    font-size: 50px;
  }
  .sec-4 {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: black;
    color: blanchedalmond;
  }
  hr {
    opacity: 0.2;
  }  
  
}
@media (max-width:770px){
  .heading .menu {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    margin: 15px;
    line-height: 10vh;
    right: 0;
    font-family: "Lobster Two", cursive;
    display: none;
  }
}
@media(max-width:838px){
  #mynav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .show-butn,
  .hide-butn {
    display: block;
    padding-right: 20px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -250%;
    width: 100%;
    height: 100vh;
    background-color:skyblue;
    text-align: center;
    color:black;
    line-height: normal;
    transition: 1s;
    margin: 0;
    padding-top: 60px;
    opacity: 1;
  }

  .menu li {
    display: block;
    padding: 20px;
    border-bottom: 1px white solid;
  }

  .menu li a {
    display: block;
  }
  .hide-butn {
    position: absolute;
    right: 5px;
    font-size: 40px;
    top: 15
    px;
    z-index: 1;
  }

  #but:checked ~ .menu {
    right: 0%;
  }
}