*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    margin:10px;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url('../images/bg.jpg');
    background-size: cover;
}
.heading{
    /* background-color: rgb(218, 218, 221); */
    color:white;
    /* float: right; */
    height: 15vh;
    display: flex;
}
.heading .menu { 
    position: absolute;
    padding:10px;
    color:white;
    font-size:25px;
    margin:15px;
    line-height: 10vh;
    right:0;
}
.logo{
    margin:10px;
}
.logo img{
    width:70px;
}

.logo img:hover{
    width:80px;
    transition:1s;
}

.menu li{
    display: inline;
}

.menu li a{
    margin:5px;
    text-decoration: none;
    color:white;
}

.menu li a:hover{
    color:rgb(206, 53, 86);
    transition:.5s
}
