<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/contact.css" rel="stylesheet"/>
    <title>Contact Us</title>
</head>
<body>
    <div id='mynav'>
        <div class="logo">
            <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
        </div>
        <input type="checkbox" id="but">
        <label for="but" class="show-butn">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="but">
            <label for="but" class="hide-butn">
                <i class="fas fa-times"></i>
            </label>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/tracker">Tracker</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/precautions">Precautions</a></li>
            <li><a href="/medi-care">Medi-Care</a></li>
            <li><a href="/">Contact-Us</a></li>
        </ul>
    </div>

    <div id="mem-info">
        <div id="mem-1">
            <div id="left">
                <div id="img"> <img src="../static/images/tusharSaxena.jpeg" alt=""></div>
            </div>
            <div id="right">
                <h2>Tushar Saxena</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                <p>Hey this is Tushar Saxena.<br>
                   I am currently in 3rd year.<br>
                 A data science enthusiast with zeal in web developement as well. Happy to be connect with you ! <br>Feel free to mail me or follow me on 
                Github. Happy Learning :)</p>
            </div>
        </div>

        

        <div id="mem-2"> 
            <div id="left">
                <div id="img2"> <img src="../static/images/Ananya.jpg" alt=""></div>
            </div>
            <div id="right">
                <h2>Ananya Jain</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                
            </div>
        </div>

        <div id="mem-3"> 
            <div id="left">
                <div id="img3"> <img src="../static/images/vipul-.jpg" alt=""></div>
            </div>
            <div id="right">
                <h2>Vipul</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                
            </div>
        </div>
        
        <div id="mem-4">
            <div id="left">
                <div id="img4"> <img src="../static/images/db.jpg" alt=""></div>
            </div>
            <div id="right">
                <h2>Divyanshi Bansal</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                
            </div>
        </div>
        <div id="mem-5"></div>
    </div>

</body>
</html>