<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/contact.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
    <title>Contact Us</title>
</head>
<body>
    <div id='mynav'>
        <div class="logo">
            <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
        </div>
        <input type="checkbox" id="but">
        <label for="but" class="show-butn">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="but">
            <label for="but" class="hide-butn">
                <i class="fas fa-times"></i>
            </label>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/tracker">Tracker</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/precautions">Precautions</a></li>
            <li><a href="/medi-care">Medi-Care</a></li>
            <li><a href="/">Contact-Us</a></li>
        </ul>
    </div>

    <div id="mem-info">
        <div id="mem-1">
            <div id="left">
                <div id="img"> <img src="../static/images/tusharSaxena.jpeg" alt=""></div>
            </div>
            <div id="right">
                <h2>Tushar Saxena</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                <p>Hey this is Tushar Saxena.<br>
                   I am currently in 3rd year.<br>
                 A data science enthusiast with zeal in web developement as well. Happy to be connect with you ! <br>Feel free to mail me or follow me on 
                Github. Happy Learning :)</p>
            </div>
        </div>

        

        <div id="mem-2"> 
            <div id="left">
                <div id="img2"> <img src="../static/images/Ananya.jpg" alt=""></div>
            </div>
            <div id="right">
                <h2>Ananya Jain</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                
            </div>
        </div>

        <div id="mem-3"> 
            <div id="left">
                <div id="img3"> <img src="../static/images/vipul-.jpg" alt=""></div>
            </div>
            <div id="right">
                <h2>Vipul</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                <p>Hey this is Vipul.<br>
                    I am currently in 3rd year.<br>
                  A Web Designer and a Design Thinker. Happy to be connect with you ! <br>Feel free to mail me or follow me on 
                 Github. Happy Learning :)</p>
            </div>
        </div>
        
        <div id="mem-4">
            <div id="left">
                <div id="img4"> <img src="../static/images/db.jpg" alt=""></div>
            </div>
            <div id="right">
                <h2>Divyanshi Bansal</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                
            </div>
        </div>
        <div id="mem-5">
            <div id="left">
                <div id="img5"> <img src="../static/images/umesh.jpg" alt=""></div>
            </div>
            <div id="right">
                <h2>Umesh Pratap Singh</h2>
                <h3>Btech CSE 3rd year</h3>
                <h3>Gla University, Mathura</h3>
                <p>Hey this is Umesh Pratap Singh<br>
                    I am currently in 3rd year.<br>
                  A data science enthusiast with zeal in web developement as well. Happy to be connect with you ! <br>Feel free to mail me. Happy Learning :)</p>
                
            </div>
        </div>
    </div>

    <footer>
        <section class="sec-1">
            <section class="about">
                <h2>About</h2>
                <p>This website gives most of the information related to COVID-19 like daily News updates, covid pateints, or much more.</p>
  
            </section>
            <section class="link1">
              <h2>Technologies</h2>
              <ul>
                  <li><a href="#">Html & Css</a></li>
                  <li><a href="#">JavaScript</a></li>
                  <li><a href="#">Flask</a></li>
                   <li><a href="#">Python</a></li>
                 </ul>
             </section>
  
             <section class="link2">
              <h2>Quick Links</h2>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Tracker</a></li>
                  <li><a href="#">News</a></li>
                   <li><a href="#">Precautions</a></li>
                   <li><a href="#">Medi-Care</a></li>
              </ul>
             </section>
             
             <section class="link3">
              <h2>Contact</h2>
                <ul>
                    <a href="#mem-1"><li>Tushar Saxena</li></a><i class="fa fa-google"></i>
                    <a href="#mem-2"><li>Ananya Jain</li></a><i class="fa fa-google"></i>
                    <a href="#mem-3"><li>Vipul</li></a><i class="fa fa-google"></i>
                    <a href="#mem-4"><li>Divyanshi Bansal</li></a><i class="fa fa-google"></i>
                    <a href="#mem-5"><li>Umesh Pratap Singh</li></a><i class="fa fa-google"></i>

                </ul>
             </section>
          </section>
           <hr width="100%" >
        <section class="sec-2">
            <h2>Register free for daily updates</h2>
            <a href="#">Sign Up!</a>
        </section>
           <hr width="100%">
        <section class="sec-3">
          <ul>
              <li><a href="#"><i class="fa fa-github"></i></a></li>
          </ul>
          <!-- <a id= "arrow" href="#"><i class="fa fa-arrow-circle-up"></i></a>   -->
        </section>
        
       <section class="sec-4">
          <p>CopyRight &copy; 2020 All Rights Reserved by COVID-19 Tracker</p>  
          
       </section>
      </footer>

</body>
</html>