<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div id='mynav'>
        <div class="logo">
            <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
        </div>
        <input type="checkbox" id="but">
        <label for="but" class="show-butn">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="but">
            <label for="but" class="hide-butn">
                <i class="fas fa-times"></i>
            </label>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/tracker">Tracker</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/precautions">Precautions</a></li>
            <li><a href="/medi-care">Medi-Care</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </div>

</body>
</html>