<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
      <section class="sec-1">
          <section class="about">
              <h2>About</h2>
              <p>This website is gives most of the information about COVID-19.i.e. from number of cases in a region to daily news update.</p>

          </section>
          <section class="link1">
            <h2>Technologies</h2>
            <ul>
                <li><a href="HTML & CSS"></a></li>
                <li><a href="JAVASCRIPT"></a></li>
                <li><a href="FLASK"></a></li>
                 <li><a href="PYTHON"></a></li>
               </ul>
           </section>

           

        </section>
         

   
      <section class="sec-3"></section>
      <section class="sec-4"></section>
     
    </footer>
</body>
</html>