<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="../static/css/footer.css"  rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <footer>
      <section class="sec-1">
          <section class="about">
              <h2>About</h2>
              <p>This website gives most of the information related to COVID-19 like daily News updates, covid pateints, or much more.</p>

          </section>
          <section class="link1">
            <h2>Technologies</h2>
            <ul>
                <li><a href="#">Html & Css</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">Flask</a></li>
                 <li><a href="#">Python</a></li>
               </ul>
           </section>

           <section class="link2">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Tracker</a></li>
                <li><a href="#">News</a></li>
                 <li><a href="#">Precautions</a></li>
                 <li><a href="#">Medi-Care</a></li>
            </ul>
           </section>
           
           <section class="link3">
            <h2>Contact</h2>
              <ul>
                  <li>Tushar Saxena</li><i class="fa fa-google"></i>
                  <li>Vipul</li><i class="fa fa-google"></i>
                  <li>Divyanshi Bansal</li><i class="fa fa-google"></i>
                  <li>Ananya Jain</li><i class="fa fa-google"></i>
                  <li>Umesh Pratap Singh</li><i class="fa fa-google"></i>
              </ul>
           </section>
        </section>
         <hr width="100%" >
      <section class="sec-2">
          <h2>Register free for daily updates</h2>
          <a href="#">Sign Up!</a>
      </section>
         <hr width="100%">
      <section class="sec-3">
        <ul>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
        <a id= "arrow" href="#"><i class="fa fa-arrow-circle-up"></i></a>
      </section>
     
     <section class="sec-4">
        <p>CopyRight &copy; 2020 All Rights Reserved by COVID-19 Tracker</p>    
     </section>
    </footer>
</body>
</html>