<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Covid-19 Tracker</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet"/>
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Rufina&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Overlock&family=Rufina&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <div id='mynav'>
        <div class="logo">
            <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
        </div>
        <input type="checkbox" id="but">
        <label for="but" class="show-butn">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="but">
            <label for="but" class="hide-butn">
                <i class="fas fa-times"></i>
            </label>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="tracker.html">Tracker</a></li>
            <li><a href="News.html">News</a></li>
            <li><a href="Precautions1.html">Precautions</a></li>
            <li><a href="#">Medi-Care</a></li>
        </ul>
    </div>
<div class="banner">
    <video autoplay id="myVideo" loop muted width="100vw">
        <source src="../static/video-1.mp4" type="video/mp4"/>
    </video>
</div>
<div class="main-content">
    <h1>What is COVID-19 ?</h1>
    <div class="main-content__content">
        <div class="content-video">
            <video autoplay loop muted>
                <source src="../static/content-video.mp4" type="video/mp4"/>
            </video>
        </div>
        <p class="content">
            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

            Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and
            recover without requiring special treatment. Older people, and those with underlying medical problems like
            cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious
            illness.

            The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease
            it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an
            alcohol based rub frequently and not touching your face.

            The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected
            person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by
            coughing into a flexed elbow).</p>
        
    </div>
</div>
<div class="about-covid">
    <h1>Facts about COVID-19</h1>
    <div class="about-covid__content">
        <div class="about-video" id='about-video'>
            <video autoplay id="" loop muted>
                <source src="../static/facts.mp4" type="video/mp4"/>
            </video>
        </div>
        <p class="about-content">
            There is significant global media attention on the spread of Coronavirus, which has led to justifiable
            consumer concern about the risks from COVID-19 and an ‘Infodemic’. Fears about the risks from this outbreak,
            and the scale of the public health challenge, have resulted in a significant increase in people seeking
            information about what to do to protect and prevent the virus.
            </br>
            </br>
            Consumers are searching online sources for guidance on what they should do. However, not all information is
            based on sound science. The information void has led to the occurrence of misinformation, misperceptions and
            myths propagated by sources that lack the credibility to provide authoritative comment.
            </br>
            </br>
            Despite the consensus amongst the medical community that there exists no cure for COVID-19, self-proclaimed
            experts and pundits across a variety of social channels are pervasive and are perpetuating ways to protect
            against or cure the virus. Everything from consuming bleach or antibacterial liquids in small doses to
            fearmongering is becoming commonplace.
            </br>
            </br>
            The misinformation, misperceptions and myths have the potential to lead to harmful public health outcomes
            and significantly limit the adoption of evidence-based prevention measures as advised by leading public
            health experts.
            </br>
            </br>
            The aim of COVID-19 facts is to provide accurate and credible information to counter myths that are gaining
            traction on social media platforms.
        </p>
    </div>
    <div class="chart">
        <div class="interactive-chart">
            <iframe height="600px" src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map"
                    width="100%"></iframe>
        </div>
        <div class="interactive-chart">
            <iframe src="https://ourworldindata.org/grapher/covid-confirmed-cases-since-100th-case?country=USA+ESP+ITA+KOR+TWN+GBR+NOR"
                    style="width: 100%; height: 600px; border: 0px none;"></iframe>
        </div>
    </div>
    <footer>
        <section class="sec-1">
            <section class="about">
                <h2>About</h2>
                <p>This website gives most of the information related to COVID-19 like daily News updates, covid pateints, or much more.</p>
  
            </section>
            <section class="link1">
              <h2>Technologies</h2>
              <ul>
                  <li><a href="#">Html & Css</a></li>
                  <li><a href="#">JavaScript</a></li>
                  <li><a href="#">Flask</a></li>
                   <li><a href="#">Python</a></li>
                 </ul>
             </section>
             <section class="link2">
              <h2>Quick Links</h2>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Tracker</a></li>
                  <li><a href="#">News</a></li>
                   <li><a href="#">Precautions</a></li>
                   <li><a href="#">Medi-Care</a></li>
              </ul>
             </section>
             
             <section class="link3">
              <h2>Contact</h2>
                <ul>
                    <li>Tushar Saxena</li><i class="fa fa-google"></i>
                    <li>Vipul</li><i class="fa fa-google"></i>
                    <li>Divyanshi Bansal</li><i class="fa fa-google"></i>
                    <li>Ananya Jain</li><i class="fa fa-google"></i>
                    <li>Umesh Pratap Singh</li><i class="fa fa-google"></i>
                </ul>
             </section>
          </section>
           <hr width="100%" >
        <section class="sec-2">
            <h2>Register free for daily updates</h2>
            <a href="#">Sign Up!</a>
        </section>
           <hr width="100%">
        <section class="sec-3">
          <ul>
              <li><a href="#"><i class="fa fa-github"></i></a></li>
              <!-- <a href="#"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Move to Top</a> -->
          </ul>
        </section>
       <section class="sec-4">
          <p>CopyRight &copy; 2020 All Rights Reserved by COVID-19 Tracker</p>
           
       </section>
      </footer>
</body>
<script src="../static/js/nav.js"></script>
</html>
