<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Medi-Care</title>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
      <link rel="stylesheet" href="../static/css/medicare.css" />
  </head>
  <body>
    <div id='mynav'>
      <div class="logo">
          <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
      </div>
      <input type="checkbox" id="but">
      <label for="but" class="show-butn">
          <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="but">
          <label for="but" class="hide-butn">
              <i class="fas fa-times"></i>
          </label>
      <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/tracker">Tracker</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/precautions">Precautions</a></li>
          <li><a href="/medi-care">Medi-Care</a></li>
      </ul>
  </div>
    <div class="banner">
      <div class="banner_content">
        <h1 class="banner_heading">Real heroes wear masks below their eyes.</h1>
        <input
          class="banner_search"
          type="search"
          name="hospital"
          id="hospital_id"
          placeholder="Search for your city"
          onchange="filter_add()"
        />
      </div>
    </div>
    <div class="hospitals" id="hospital_section"></div>
    <script src="../static/js/medicare.js"></script>
  </body>
</html>
