<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="../static/css/news.css">
</head>
<body>
    <div id='mynav'>
        <div class="logo">
            <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
        </div>
        <input type="checkbox" id="but">
        <label for="but" class="show-butn">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="but">
            <label for="but" class="hide-butn">
                <i class="fas fa-times"></i>
            </label>
        <ul class="menu">
            <li><a href="../templates/index.html">Home</a></li>
            <li><a href="../templates/tracker.html">Tracker</a></li>
            <li><a href="../templates/News.html">News</a></li>
            <li><a href="../templates/Precautions1.html">Precautions</a></li>
            <li><a href="#">Medi-Care</a></li>
        </ul>
    </div>
    <h1>Top News About <b>COVID-19 </b></h1>
    <div id="news" class="news-items" >
        
    </div>
    <div class="footer">
        <section class="sec-1">
            <section class="about">
                <h1>About</h1>
            </section>
        </section>
    </div>
</body>
<script type="text/javascript" src="/static/js/news.js"></script>
</html>
