<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="../static/css/news.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div id='mynav'>
        <div class="logo">
            <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
        </div>
        <input type="checkbox" id="but">
        <label for="but" class="show-butn">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="but">
            <label for="but" class="hide-butn">
                <i class="fas fa-times"></i>
            </label>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/tracker">Tracker</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/precautions">Precautions</a></li>
            <li><a href="/medi-care">Medi-Care</a></li>
        </ul>
    </div>
    <h1>Top News About <b style="color: red;">COVID-19 </b></h1>
    <div id="news" class="news-items" >
        <div class="loading" id='gif'><img src="../static/images/loading.gif" alt="loading"></div>
    </div>
    <footer>
        <section class="sec-1">
            <section class="about">
                <h2>About</h2>
                <p>
                    This website gives most of the information related to COVID-19 like daily News updates,
                    covid pateints, or much more.
                </p>
            </section>
            <section class="tech">
                <h2>Technologies</h2>
                <ul>
                   <li><a href="">Html & CSS</a></li>
                   <li><a href="">JavaScript</a></li>
                   <li><a href="">Flask</a></li>
                   <li><a href="">Python</a></li>
                </ul>
            </section>
            <section class="quicklink">
                <h2>Quick Links</h2>
                <li><a href="index.html">Home</a></li>
                <li><a href="tracker.html">Tracker</a></li>
                <li><a href="News.html">News</a></li>
                <li><a href="Precautions1.html">Precautions</a></li>
                <li><a href="medicare.html">Medi-Care</a></li>
            </section>
            <section class="contact">
                <h2>Contact</h2>
                <li><a href="">Tushar Saxena<i class="fa fa-google"></i></a></li>
                <li><a href="">Vipul<i class="fa fa-google"></i></a></li>
                <li><a href="">Divyanshi Bansal<i class="fa fa-google"></i></a></li>
                <li><a href="">Ananya Jain<i class="fa fa-google"></i></a></li>
                <li><a href="">Umesh Pratap Singh<i class="fa fa-google"></i></a></li>
            </section>
        </section>
        <hr width="100%" noshade />
        <section class="sec-2">
            <h2>Register free for daily Updates</h2>
            <li><a href="#">Sign Up!</a></li>
        </section>
        <hr width="100%" noshade />
        <section class="sec-3">
            <li><a href="https://github.com/Tusharsaxena3112/Covid-19" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="contact.html"><i class="fas fa-id-card-alt"></i></a></li>
        </section>
        <section class="sec-4">
            <p>CopyRight &copy; 2020 All Rights Reserved by COVID-19 Tracker</p>
        </section>
    </footer>
</body>
<script type="text/javascript" src="/static/js/news.js"></script>
</html>
