<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/precautions.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>Precautions</title>
</head>
<body>
    <div id="efh">
    <div id='mynav'>
        <div class="logo">
            <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
        </div>
        <input type="checkbox" id="but">
        <label for="but" class="show-butn">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="but">
            <label for="but" class="hide-butn">
                <i class="fas fa-times"></i>
            </label>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/tracker">Tracker</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="#">Precautions</a></li>
            <li><a href="/medi-care">Medi-Care</a></li>
        </ul>
    </div>
    <div id="box1">
       <div id="box11">
          <img src="../static/images/animation_500_kek4tb09.gif" alt="">
       </div>
       <div id="box12"> 
           <h1>Covid-19</h1>
           <h3>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</h3>
           <h3>Most Common Symptoms : </h3>
           <ul>
               <li>Fever</li>
               <li>Dry Cough</li>
               <li>Tiredness</li>
           </ul>
       </div>
    </div>
    <div id="box2">
        <div id="box21">
            <h1>How it Spread ?</h1>
            <h3>
                The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
                You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.</h3>
        </div>
        <div id="box22">
            <div id="box221">
            <div class="sp">
                <div>
                <img src="../static/images/30327-keep-social-distancing.gif" alt="">
                </div>
                <h3>Handshaking</h3>
            </div>
            <div class="sp">
                <div>
                <img src="../static/images/24570-people.gif" alt="">
                </div>
                <h3>Crowded Place</h3>
            </div>
            <div class="sp">
                <div>
                <img src="../static/images/17510-coronavirus-particle-particula-de-coronavirus.gif" alt="">
                </div>
                <h3>Particles in Air</h3>
            </div>
            </div>
        </div>
    </div>
    <div id="box3">
        <div id="box31">
            <h1>Preventive Measures !</h1>
            <h3>You can reduce your chances of being infected or spreading COVID-19 by taking some simple precautions:</h3>
            <ul>
                <li>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water. Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.</li>
                <li>Maintain at least 1 metre (3 feet) distance between yourself and others. Why? When someone coughs, sneezes, or speaks they spray small liquid droplets from their nose or mouth which may contain virus. If you are too close, you can breathe in the droplets, including the COVID-19 virus if the person has the disease.</li>
                <li>Avoid touching eyes, nose and mouth. Why? Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and infect you.</li>
                <li>Avoid going to crowded places. Why? Where people come together in crowds, you are more likely to come into close contact with someone that has COVID-19 and it is more difficult to maintain physical distance of 1 metre (3 feet).</li>
                <li>Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately and wash your hands. Why? Droplets spread virus. By following good respiratory hygiene, you protect the people around you from viruses such as cold, flu and COVID-19.</li>
                <li>Stay home and self-isolate even with minor symptoms such as cough, headache, mild fever, until you recover. Have someone bring you supplies. If you need to leave your house, wear a mask to avoid infecting others. Why? Avoiding contact with others will protect them from possible COVID-19 and other viruses.</li>
                <li>If you have a fever, cough and difficulty breathing, seek medical attention, but call by telephone in advance if possible and follow the directions of your local health authority. Why? National and local authorities will have the most up to date information on the situation in your area. Calling in advance will allow your health care provider to quickly direct you to the right health facility. This will also protect you and help prevent spread of viruses and other infections.</li>
            </ul>
        </div>
        <div id="box32">
            <div id="box332">
            <div id="box321">
                <div id="pre"><img src="../static/images/17756-wash-your-hands-covid-19.gif" alt=""></div>
                <div id="text321"><h3>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</h3></div>
            </div>
            <div id="box321">
                <div id="pre"><img src="../static/images/18389-social-distancing.gif" alt=""></div>
                <div id="text321"><h3>Maintain a safe distance from anyone who is coughing or sneezing.</h3></div>
            </div>
            <div id="box321">
                <div id="pre"><img src="../static/images/17895-wear-mask.gif" alt=""></div>
                <div id="text321"><h3>Wear a mask when physical distancing is not possible.</h3></div>
            </div>
            </div>
            <div id="box332">
            <div id="box321">
                <div id="pre"><img src="../static/images/15400-corona-virus-sick.gif" alt=""></div>
                <div id="text321"><h3>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</h3></div>
            </div>
            <div id="box321">
                <div id="pre"><img src="../static/images/19823-stay-home.gif" alt=""></div>
                <div id="text321"><h3>Stay home if you feel unwell.</h3></div>
            </div>
            <div id="box321">
                <div id="pre"><img src="../static/images/14916-prueba-doctores-freepik.gif" alt=""></div>
                <div id="text321"><h3>If you have a fever, cough and difficulty breathing, seek medical attention.</h3></div>
            </div>
            </div>
        </div>
    </div>
    <div id="box54321">
        <h1 style="text-align: center;font-size: 40px;padding: 20px;color: white; border-radius:;">Awarness By WHO</h1>
        <div id="box5">
            <div id="imga"><img src="../static/images/blue-1.png" alt=""></div>
            <div id="imga"><img src="../static/images/blue-3.png" alt=""></div>
        </div>
        <div id="box5">
            <div id="imga"><img src="../static/images/be-smart-inform.jpg" alt=""></div>
            <div id="imga"><img src="../static/images/be-safe.jpg" alt=""></div>
        </div>
        <div id="box6">
            <div id="box61">
                <div id="imga"><img src="../static/images/handshaking.png" alt=""></div>
                <div id="imga"><img src="../static/images/wearing-gloves.png" alt=""></div>
            </div>
            <div id="box61">
                <div id="imga"><img src="../static/images/eng-mythbusting-ncov-(13).png" alt=""></div>
                <div id="imga"><img src="../static/images/eng-mythbusting-ncov-(19).png" alt=""></div>
            </div>
        </div>
        <div id="box5"><div id="imga"><img src="../static/images/be-ready-social-3.jpg" alt=""></div></div>
        </div>
    <!-- <div id="box4">
        <h4>Covid-19 Tracker with Voice Assistant <i class="fas fa-copyright"></i> 2020</h4>
    </div> -->
    <footer>
        <section class="sec-1">
          <section class="about">
                <h2>About</h2>
                <p>This website gives most of the information related to COVID-19 like daily News updates, covid pateints, or much more.</p>
            </section>
            <section class="link">
                <h2>Technologies</h2>
                <ul>
                <li><a href="#">HTML & CSS</a></li>
                <li><a href="#">JAVASCRIPT</a></li>
                <li><a href="#">FLASK</a></li>
                <li><a href="#">PYTHON</a></li>
                </ul>
            </section>
            <section class="link">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="../templates/index.html">Home</a></li>
                    <li><a href="../templates/tracker.html">Tracker</a></li>
                    <li><a href="../templates/News.html">News</a></li>
                    <li><a href="../templates/Precautions1.html">Precautions</a></li>
                    <li><a href="#">Medi-Care</a></li>
                </ul>
            </section>
            <section class="link">
                <h2>Contact Us</h2>
                <ul>
                <li><a href="#"><i class="fa fa-google"></i>Tushar Saxena</a></li>
                <li><a href="#"><i class="fa fa-google"></i>Vipul</a></li>
                <li><a href="#"><i class="fa fa-google"></i>Divyanshi Bansal</a></li>
                <li><a href="#"><i class="fa fa-google"></i>Umesh Pratap Singh</a></li>
                <li><a href="#"><i class="fa fa-google"></i>Ananya Jain</a></li>
                </ul>
            </section>
        </section>
        <hr width="100%" noshade />
        <section class="sec-2">
            <p>Register for Free to get the Daily Updates</p>
            <div><a href="#">Sign Up</a></div>
        </section>
        <hr width="100%" noshade />
        <section class="sec-3">
            <ul>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            </ul>
        </section>
        <hr width="100%" noshade />
        <section class="footer-content">
          <p>
            CopyRight <i class="fas fa-copyright"></i> 2020 All Rights Reserved by COVID-19 Tracker
          </p>
        </section>
      </footer>
    </div>
</body>
</html>