<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tracker</title>
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/tracker_1.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
    <link href="../static/css/footer.css" rel="stylesheet" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@200&family=Zilla+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
<!--    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body>
    <div id='mynav'>
      <div class="logo">
          <a href="/"><img alt="" src="../static/images/virus-1.svg"/></a>
      </div>
      <input type="checkbox" id="but">
      <label for="but" class="show-butn">
          <i class="fas fa-bars"></i>
      </label>
      <input type="checkbox" id="but">
          <label for="but" class="hide-butn">
              <i class="fas fa-times"></i>
          </label>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/tracker">Tracker</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/precautions">Precautions</a></li>
        <li><a href="/medi-care">Medi-Care</a></li>
      </ul>
  </div>
    <div class="banner-img">
      <div class="banner-content">
        <h2>Track Your Country!</h2>
      </div>
    </div>
    <h1>World Statistics!</h1>
    <div class="overall-data-section">
      <div class="overall-confirmed">
        <div class="title">Total-Confirmed</div>
        <div class="value" style="color: aqua">0</div>
      </div>
      <div class="overall-recovered">
        <div class="title">Total Recovered</div>
        <div class="value" style="color: chartreuse">0</div>
      </div>
      <div class="overall-deaths">
        <div class="title">Total Deaths</div>
        <div class="value" style="color: crimson">0</div>
      </div>
    </div>
    <div class="pie-chart">
      <canvas id="chart-container"> </canvas>
    </div>
    <div class="pie-chart">
      <canvas id="bar-chart-container"> </canvas>
    </div>
    <h1>Check Your Country</h1>
    <div class="input-section">
      <div class="latest-report">
        <div class="country">
          <div class="name" id="name">Loading..</div>
          <div class="change-btn">Change</div>
          <div class="country-search hide">
            <!-- we will remove this hide class by using javsacript -->
            <div class="search-box">
              <input
                type="text"
                id="search-input"
                placeholder="Search your Country"
              />
              <i class="fa fa-times close"></i>
            </div>
            <div class="country-list">
              <!-- Countries we add from javascript -->
            </div>
          </div>
        </div>
        <div class="total-cases">
          <div class="title">Total-Cases</div>
          <div class="value">0</div>
          <div class="new-value">+0</div>
        </div>
        <div class="recovered-cases">
          <div class="title">Recovered-Cases</div>
          <div class="value">0</div>
          <div class="new-value">+0</div>
        </div>
        <div class="total-deaths">
          <div class="title">Total-Deaths</div>
          <div class="value">0</div>
          <div class="new-value">+0</div>
        </div>
      </div>
    </div>
    <div class="charts">
      <canvas id="line-chart"></canvas>
    </div>
    <div class="charts">
      <canvas id="bar-chart"></canvas>
    </div>
    <footer>
      <section class="sec-1">
        <section class="about">
          <h2>About</h2>
          <p>
            This website gives most of the information related to COVID-19 like
            daily News updates, covid pateints, or much more.
          </p>
        </section>
        <section class="link1">
          <h2>Technologies</h2>
          <ul>
            <li><a href="#">Html & Css</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Flask</a></li>
            <li><a href="#">Python</a></li>
          </ul>
        </section>

        <section class="link2">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tracker">Tracker</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/precautions">Precautions</a></li>
            <li><a href="/medi-care">Medi-Care</a></li>
          </ul>
        </section>

        <section class="link3">
          <h2>Contact</h2>
          <ul>
            <li>Tushar Saxena</li>
            <i class="fa fa-google"></i>
            <li>Vipul</li>
            <i class="fa fa-google"></i>
            <li>Divyanshi Bansal</li>
            <i class="fa fa-google"></i>
            <li>Ananya Jain</li>
            <i class="fa fa-google"></i>
            <li>Umesh Pratap Singh</li>
            <i class="fa fa-google"></i>
          </ul>
        </section>
      </section>
      <hr width="100%" />
      <section class="sec-2">
        <h2>Register free for daily updates</h2>
        <a href="#">Sign Up!</a>
      </section>
      <hr width="100%" />
      <section class="sec-3">
        <ul>
          <li>
            <a href="https://github.com/Tusharsaxena3112/Covid-19" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a href="/contact"><i class="fas fa-id-card-alt"></i></a>
          </li>
          <!-- <a href="#"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Move to Top</a> -->
        </ul>
      </section>
      <section class="sec-4">
        <p>CopyRight &copy; 2020 All Rights Reserved by COVID-19 Tracker</p>
      </section>
    </footer>
  </body>
  <script
    language="JavaScript"
    src="http://www.geoplugin.net/javascript.gp"
    type="text/javascript"
  ></script>
  <script src="../static/js/countries.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="../static/js/tracker.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
