<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tracker</title>
    <link href="../static/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/tracker.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@200&family=Zilla+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body>
    <div class="heading" id="mynav">
      <div class="logo">
        <img alt="" src="../static/images/virus-1.svg" />
      </div>
      <ul class="menu">
        <li><a href="">Home</a></li>
        <li><a href="/tracker">Tracker</a></li>
        <li><a href="">News</a></li>
        <li><a href="/precautions">Precautions</a></li>
        <li><a href="">Medi-Care</a></li>
      </ul>
    </div>
    <div class="banner-img">
      <div class="banner-content">
        <h2>Track Your Country!</h2>
      </div>
    </div>
    <h1>World Statistics!</h1>
    <div class="overall-data-section">
      <div class="overall-confirmed">
        <div class="title">Total-Confirmed</div>
        <div class="value">0</div>
      </div>
      <div class="overall-recovered">
        <div class="title">Total Recovered</div>
        <div class="value">0</div>
      </div>
      <div class="overall-deaths">
        <div class="title">Total Deaths</div>
        <div class="value">0</div>
      </div>
    </div>
    <div class="pie-chart">
      <canvas id="chart-container"> </canvas>
    </div>
    <h1>Check Your Country</h1>
    <div class="input-section">
      <div class="latest-report">
        <div class="country">
          <div class="name" id="name">Loading..</div>
          <div class="change-btn">Change</div>
          <div class="country-search hide">
            <!-- we will remove this hide class by using javsacript -->
            <div class="search-box">
              <input
                type="text"
                id="search-input"
                placeholder="Search your Country"
              />
              <i class="fa fa-times close"></i>
            </div>
            <div class="country-list">
              <!-- Countries we add from javascript -->
            </div>
          </div>
        </div>
        <div class="total-cases">
          <div class="title">Total-Cases</div>
          <div class="value">0</div>
          <div class="new-value">+0</div>
        </div>
        <div class="recovered-cases">
          <div class="title">Recovered-Cases</div>
          <div class="value">0</div>
          <div class="new-value">+0</div>
        </div>
        <div class="total-deaths">
          <div class="title">Total-Deaths</div>
          <div class="value">0</div>
          <div class="new-value">+0</div>
        </div>
      </div>
    </div>
    <div class="charts">
      <canvas id="line-chart"></canvas>
    </div>
    <div class="charts">
      <canvas id="bar-chart"></canvas>
    </div>
  </body>
  <script
    language="JavaScript"
    src="http://www.geoplugin.net/javascript.gp"
    type="text/javascript"
  ></script>
  <script src="../static/js/countries.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="../static/js/tracker.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
